<div>
  <%= flash[:notice] %>
</div>

<table>
    <tr>
        <td>Title:
        <%= @book.title %></td>
    </tr>
    <tr>
        <td>Body:
        <%= @book.body %></td>
    </tr>
</table>
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", books_path %>
